/* Common CSS */
*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@500&family=Roboto:wght@500&family=Source+Sans+Pro&display=swap');

.container {
    margin: 0 5%;
}
body {
    font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}
/* Common CSS End */

/* Navigation css Part Start */
.nav-ber {
    display: flex; 
    justify-content: space-between;
    align-items: center;   
}
.logo a {
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    color: #000;
}
.mainManu>ul {
    display: flex;    
}
.mainManu ul li {
    list-style: none;   
    padding:10px ;
}
.mainManu ul li:hover {
    background-color: #efefef;    
}
.mainManu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}
/* Navigation css Part Start */

/* Hero Part CSS Start */
.headerPart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 20px;
    padding: 20px 0;
}
.headerPart h1 {
    margin: 10px 0;
    font-size: 35px;
}
.preeBook-btn {
    background-color: #E22E6D;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 20px 0;
    display: inline-block;
}

.preeBook-btn a {
    text-decoration: none;
    color: #fff;    
}
.headerImg {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Hero Part CSS End */

/* Product Part Start */
.heading {
    font-size: 35px;
    text-align: center;
    margin: 20px 0;
}
.products {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);    
}
.product {
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}
.product img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.product p {
    margin: 5px 0;
    font-weight: 600;
}
.product>h3 {
    font-size: 25px;
}
.price {
    font-weight: 600;    
}
.rating {
    display: flex;
    align-items: center;
}
.rating i {
    color: #F28927;
}
.rating> p {
    color: #6D7171;
    margin-left: 10px;   
}
.product:hover .p-stock {
    color: lightgreen;
    font-weight: 700;
}
.seeMore {
    margin: 30px 0;
    text-align: right;
}
.seeMore a {
    color: #E22E6D ;
    text-decoration: none;
    
}
/* Product Part End */

/* Featurs Part Start */
.featureCont h1 {
    font-size: 35px;
    margin: 20px 0;
}
.featurePart {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;    
}

/* Featurs Part Start */
/* Footer Part Start */
.footerPart {
    background-color: #0A0826;
    padding: 30px;
    text-align: center;
    color: #fff;
}
.footerPart h3 {    
    font-size: 25px;    
}
.footerPart p {
    margin: 10px 0;
}
.social-link a {
    text-decoration: none;
    color: #fff;
    margin:0 10px;
}
.social-link a:hover .fa-facebook {
    color: #097DEB;
}
.social-link a:hover .fa-instagram {
    color: #D14783;
}
.social-link a:hover .fa-twitter {
    color: #5DA9DD;
}
.social-link a:hover .fa-youtube {
    color: #FE0000;
}
/* Footer Part End */