
/* Common CSS Part Start */
*{
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
}

.textAlign {
    text-align: justify;
    /* margin-left: 20px;
    margin-top: 20px; */
}

/* Common CSS PartEnd  */

/* Slider Part Start */
.slider_part {
    background-image: url(/Pages/About/assets/image/silderImage.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;    
}
.slider_overlay {
    background-color: rgb(0, 0, 0, 0.6);
    padding: 100px;
}
.slider_container {
   text-align: right;
    color: #fff;
}

.hero_btn {      
    padding: 10px;
    background-color: #28A8EA;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5%;
}
.hero_btn a {
    color: #fff;
    text-decoration: none;    
}
.hero_btn:hover {
    border: 1px solid #fff;
    background-color:transparent;       
}
.hero_btn:hover a {
    color: #fa058c;
}
/* slider part end */

/* about css part start */
.about_head {
    /* padding-bottom: 50px; */
    font-size: 32px;
    font-weight: bold;
    color: #010101;
}
/* about css part end */

/* service css part start */
/* .teamHeading {
    padding: 50px 0;
    font-size: 32px;
    font-weight: bold;
    color: #010101;
}
.teamContant {
    background: #f1f1f1;
    padding: 15px; 
    position: relative;   
}
.teamContant h3 {
    margin-top: 30px;
}
.teamImg{
    height: 64px;
    width: 64px;
    border-radius: 50%;
}
.teamImage_circle_1 {
    background: #fff;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -25%;
    left: 50%;
   transform: translateX(-50%);

}
.teamImage_circle_2 {
    background: #fff;
    width: 73px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
}
.teamImage_circle_3 {
    background: #f1f1f1;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;    
}
.teamContant:hover .teamImage_circle_2 {
    background: #28A8EA;
}
.teamContant:hover .teamImage_circle_3 {
    background:#28A8EA;
    border: 2px solid #fff;
}
.teamContant:hover {
    box-shadow: -1px 1px 10px 4px rgba(0,0,0,0.57);
    -webkit-box-shadow: -1px 1px 10px 4px rgba(0,0,0,0.57);
    -moz-box-shadow: -1px 1px 10px 4px rgba(0,0,0,0.57);
}
.teamContant:hover .nameText{
color: #28A8EA;
text-decoration:underline;
/* background: #01310d; */

*/

/* Team Member Part Start */
.team_part {
    padding: 40px 0;
}
.team_head {
    padding-bottom: 30px;
}
.team_img {
    position: relative;
    transition: 0.3s;
}
.team_img:hover {
    -webkit-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
}
.team_con:hover .team_con_inner h4 {
    color: #5bc5f3;
}
.team_img:hover .team_overlay {
    opacity: 1;
    width: 30%;
}
.team_overlay {
    height: 100%;
    width: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: 0.3s;
}
ul {
    padding: 0;
}
.icon_main ul li {
    height: 50px;
    width: 50px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
.icon_main ul li:hover {
    background: #5bc5f3;
    border: 1px solid #5bc5f3;
}
.icon_main ul li a {
    font-size: 20px;
    color: #fff;
}
/* team Part End */


/* trastiBoard Part STart */
.trasti_part {
    padding: 50px 0;
}
.trasti_img {
    display: flex;
    justify-content: center;
}

.trasti_img {
    margin-bottom: 45px;
}
.trasti_con_inner {
    background: #f1f1f1;
    padding: 20px;
    position: relative;
}
.trasti_icon {
    color: #5bc5f3;
}
.trasti_box {
    height: 50px;
    width: 50px;
    background: #f1f1f1;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
}
/* trastiBoard Part End */

/* foote part */
