/* Common CSS */
*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@500&family=Roboto:wght@500&family=Source+Sans+Pro&display=swap');


body {
    /* font-family: 'Cinzel Decorative', serif; */
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
/* Common CSS End */

/* Header CSS Start */
.header {
    background-color: #0399fd;
    color: white;
}
.nav_info {
    padding-top: 10px;
    display: flex;
    justify-content: end;
    align-items:center;
}
/* Header CSS End */


/* Navigation css Part Start */

.nav_logo img {    
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.nav_logo {    
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav_logo h3{   
    color:green;        
}
.logo-text{    
    color:red;    
}

.nav-contact { 
    display: flex;
    flex-direction: column;   
    margin-left: 20px;
    align-items: end;
}

/* Bootstarp Adit Start */
.navbar{
    background:hsla(60, 79%, 68%, 0.199) !important; 
}
.nav-link{
    padding: 0.5 rem;    
}
.nav-item > a {
    color:black;
}
.nav-item.active > a{
    color:#4ba67f;
    font-weight: bold;
    padding: 0.5rem;    
}

.navbar-nav .nav-item:hover .nav-link {
    background-color: #efefef;    
    font-size: 20px;
    font-weight: bold;
    color: #3903fd;
    border-left: none;
    transform: scale(1);
    transition: 1s ease-in-out;
}
/* Bootstarp Edit End */
/* Navigation css Part End */


/* Hero Part CSS Start */
.headerPart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 20px;
    padding: 20px 0;
}
@media (max-width:600px) {
    .headerPart {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;       
    }
    .headerContant {
        order: 2;
    }
    .headerImg {
        order: 1;
    }
}
@media (min-width: 600px) {
    .headerPart {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;       
    }
    .headerContant {
        order: 2;
    }
    .headerImg {
        order: 1;
    }
}
@media (min-width: 768px) {
    .headerPart {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;       
    }  
    .headerContant {
        order: 2;
    }
    .headerImg {
        order: 1;
    }  
}
@media (min-width: 992px) {
    .headerPart {
        grid-template-columns:1fr 1fr; 
        text-align: left;             
    }  
    .headerContant {
        order: 1;
    }
    .headerImg {
        order: 2;
    }  
}
.hroList{
    list-style: none;

}
.headerPart h1 {
    margin: 10px 0;
    font-size: 35px;
}
.preeBook-btn {
    background-color: #E22E6D;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 20px 0;
    display: inline-block;
}
.preeBook-btn a {
    text-decoration: none;
    color: #fff;    
}

.headerImg {
    /* background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.headerPart:hover .headerImg {
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
}
/* Hero Part CSS End */


/* Product Part Start */
.heading {
    font-size: 35px;
    text-align: center;
    margin: 20px 0;
}
.products {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);    
}
@media (max-width:600px) {
    .products {
        grid-template-columns: 1fr;
    }    
}
@media (min-width: 600px) {
    .products {
        grid-template-columns: 1fr;
    }    
}
@media (min-width: 768px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }    
}
@media (min-width: 992px) {
    .products {
        grid-template-columns:1fr 1fr 1fr;
    }    
}
.product {
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}
.product img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.product p {
    margin: 5px 0;
    font-weight: 600;
}
.product>h3 {
    font-size: 25px;
}
.price {
    font-weight: 600;    
}
.rating {
    display: flex;
    align-items: center;
}
.rating i {
    color: #F28927;
}
.rating> p {
    color: #6D7171;
    margin-left: 10px;   
}
.product:hover .p-stock {
    color: lightgreen;
    font-weight: 700;
}
.seeMore {
    margin: 30px 0;
    text-align: right;
}
.seeMore a {
    color: #E22E6D ;
    text-decoration: none;
    
}
/* Product Part End */

/* Featurs Part Start */
.featureCont h1 {
    font-size: 35px;
    margin: 20px 0;
}
.featurePart {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;    
}
@media (max-width:600px) {
    .featurePart {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        text-align: center;
    }
    .featureCont {
        order: 1;
    }
    .featureVideo {
        order: 2;
    }
}
@media (min-width: 600px) {
    .featurePart {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        text-align: center;
    }
    .featureCont {
        order: 1;
    }
    .featureVideo {
        order: 2;
    }
}
@media (min-width: 768px) {
    .featurePart {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        text-align: center;
    }
    .featureCont {
        order: 1;
    }
    .featureVideo {
        order: 2;
    }
}
@media (min-width: 992px) {
    .featurePart {
        grid-template-columns:1fr 1fr;
        grid-gap: 20px;
        text-align: left;
    }
    .featureCont {
        order: 2;
    }
    .featureVideo {
        order: 1;
    }
}

/* Featurs Part Start */
/* Footer Part Start */
.footerPart {
    background-color: #0A0826;
    padding: 30px;
    text-align: center;
    color: #fff;
}
.footerPart h3 {    
    font-size: 25px;    
}
.footerPart p {
    margin: 10px 0;
}
.social-link a {
    text-decoration: none;
    color: #fff;
    margin:0 10px;
}
.social-link a:hover .fa-facebook {
    color: #097DEB;
}
.social-link a:hover .fa-instagram {
    color: #D14783;
}
.social-link a:hover .fa-twitter {
    color: #5DA9DD;
}
.social-link a:hover .fa-youtube {
    color: #FE0000;
}
/* Footer Part End */