/* Common CSS */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;    
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@500&family=Roboto:wght@500&family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Cinzel Decorative', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

.textAlign{
    text-align: justify;
}
/* Common CSS End */


/* Navbar css Part Start */
.nav_logo img {    
    width: 75px;
    height: 75px;
    margin-right: 10px;
}
.nav_logo {    
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav_logo h2{
    padding: 0; 
    margin: 0; 
    color:red;    
}
.nav_logo p{
    margin: 0;
    padding: 0;
    /* font-size: 2vw;     */
}

/* Bootstarp Edit Start */
.navbar{
    background:rgb(246, 246, 132) !important; 
}
.nav-link{
    padding: 0.5 rem;    
}
.nav-item > a {
    display: inline-block;
    color:black;
}
.nav-item .active > a{
    color:#4ba67f;
    font-weight: bold;
    padding: 0.5rem;    
}

.navbar-nav .nav-item:hover .nav-link {
    background-color: #efefef;    
    font-size: 1rem;
    font-weight: bold;
    color: red;
    border-left: none;
}
/* Bootstarp Edit End */
/* Navigation css Part End */

/* Hero Part CSS Start */

.silderList{
    list-style: none;
}
.carousel-inner{
    background-image: url(../images/slider-img/pest-control-slider-1.jpg);
    background-size: cover;    
    /* text-shadow: #fff; */
}

.carousel_content{
    color: #000;
    background-color: #ffffff9c;
    border-radius: 5px;
    margin: 20px 0;
}
/* Slider CSS End */

/* Header CSS Start */
.header {
    background-color: red;
    color: white;    
}

.header-contact { 
    display: flex;
    flex-direction: column;   
    margin-left: 20px;
    align-items: end;
}
.header-contact h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
.header_info {
    padding: 5px 0;
    display: flex;
    justify-content: end;
    align-items:center;
}
/* Header CSS End */

/* Hero Part CSS End */


/* Products Section CSS Start */
.products {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);    
}
.product a {
    text-decoration: none;
    color: #000;   
}
.product {
    box-shadow: 1px 2px 15px 0px rgba(252, 1, 1, 0.15);
    border-radius: 10px;
}
.product img {
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}
.productContent {
    padding: 0 10px;
    margin-bottom: 10px;
}

.productContent a, .socialBtn a{
    display: inline-block;
    margin-left: 5px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color:#F80307;
    color:#fff;
    text-decoration: none;
}
.productContent a:hover, .socialBtn a:hover{    
    border: 1px solid;   
    background-color:transparent;
    color:#F80307;
}
.productContent h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}
.rating {
    display: flex;
    align-items: center;
}
.rating i {
    color: #FFD700;
}
.rating> p {
    color: #6D7171;
    margin-left: 10px;   
}
.product:hover .p-stock {
    color: rgb(16, 8, 245);
    font-weight: 700;
}
.seeMore {
    font-size: 1rem;
    font-weight: bold;
    margin: 30px 0;
    text-align: right;
}
.seeMore a {
    color: #E22E6D ;
    text-decoration: none;    
}
/* Products Section CSS End */

/* Social Part Start */
.socialActivity {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

/* Social Activity Part End */

/* Footer Part Start */
.footerPart {
    background-color: #0A0826;
    padding: 30px;
    text-align: center;
    color: #fff;
}
.footerPart h3 {    
    font-size: 25px;    
}
.footerPart p {
    margin: 10px 0;
}
/* Footer Part End */

/* Contact Part Start */
.lineThrow{
    text-decoration: line-through;
}
.contact_con_main{
    color: #fff;
}
.contact_part {
    padding: 1.5rem 0;
    background: #353535;
}
.contact_con h4{
    text-decoration: underline;    
}
.contact_icon {
    height: 30px;
    width: 30px;
    background: #F80307;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_service ul{
    list-style:none;
    margin: 0;
    padding: 0;
}

.contact_service ul li a {
    text-decoration: none;
    display: block;
    padding: 1%;
    color: #fff;
    transition: 0.3s;
}
.contact_service ul li a:hover {
    background-color: #5bc5f3;
    border-radius: 5px;
    color: red;
}

.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.social-link a {
    text-decoration: none;
    color: #fff;
    margin:0 10px;
}
.social-link a:hover .bi-facebook {
    color: #097DEB;
}
.social-link a:hover .bi-instagram {
    color: #D14783;
}
.social-link a:hover .bi-twitter {
    color: #5DA9DD;
}
.social-link a:hover .bi-youtube {
    color: #FE0000;
}
.social-link a:hover .bi-linkedin {
    color: #0A66C2;
}
.contact_con_gly img{
    width: 100px;
    height: 100px;
}
/* Contact Part End */

/* Footer Part Start */
.footer_part {
    padding: 15px 0;
    background: #000;
    border-top: 1px solid #fff;
}
p {
    margin: 0;
}
.footer_con p {
    color: #fff;
}
.footer_con p a {
    text-decoration: none;
    color: #FE0000;
    font-weight: bold;
}
/* Footer Part ENd */



/* Rasponsive CSS Start*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .products {
        grid-template-columns:1fr 1fr 1fr;
    }

    .socialContent {
        order: 2;
    }
    .socialVideo {
        order: 1;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .navLogoConten h2{
    font-size: 30px;
   }
   .navLogoConten p{
    font-size: 14px;
   }

   .products {
    grid-template-columns:1fr 1fr;
    }

    .socialActivity {
        grid-template-columns:1fr 1fr;
        grid-gap: 10px;
        text-align: left;
    }
    .socialContent {
        order: 2;
    }
    .socialVideo {
        order: 1;
    }    
}

@media (min-width: 576px) and (max-width: 767.98px) {     
    .navLogoConten h2{
        font-size: 25px;
    }
    .navLogoConten p{
        font-size: 14px;
    } 

    .carousel-inner{
        height: 250px;
        display: flex;
        align-items: center;
    }

    .carousel-item h2{
        font-size: 3.5vw;
    }
    .carousel-item p {
        font-size: 2.5vw;
    }
    .carousel-item li {
        font-size:2.5vw;
    }

    .products {
        grid-template-columns: 1fr 1fr;
    }

    .socialActivity {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .socialContent {
        text-align: center;
        order: 1;
    }
    .socialVideo {
        order: 2;
    }
}
@media (min-width: 256px) and (max-width: 575.98px)
{ 
   .nav_logo img{
        width: 50px;
        height: 50px;
    }
    .navLogoConten h2{
        font-size: 18px;
    }
    .navLogoConten p{
        font-size: 10px;
        /* visibility: hidden; */
    }

    .carousel-inner{
        display: flex;
        align-items: center;        
    }
    
    .carousel_content{        
        background-color: #ffffff9c;
        border-radius: 5px;
        margin: 20px 0;
}

    .carousel-item h2{
       
        font-size: 5vw;
    }
    .carousel-item p {
        font-size: 4vw;
    }
    .carousel-item li {
        font-size:4vw;
    }

    .header_info{
        display: flex;
        flex-direction: column;
    }

    .products {
        grid-template-columns: 1fr;
    }

    .socialActivity {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .socialContent {
        text-align: center;
        order: 1;
    }
    .socialVideo {
        order: 2;
    }
}
/* Rasponsive CSS End */