@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Oswald:wght@400;600&display=swap');

/* FOnt Link */


/* Common CSS Start*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* Common CSS End*/

.header_contact_icon {
    display: flex;
    justify-content: flex-end;
}
.header_contact {
    background: #0771b9;
}
.header_contact_icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header_contact_icon ul {
    display: flex;
    align-items: center;
}
.header_contact_icon ul li a {
    color: #fff;
    padding-left:25px ;
    display: inline-block;
}
/* Header Part End */




/* About Part Start */
.about_part {
    padding: 60px 0;
}
.about_con {
    padding-top: 40px;
}
/* About Part End */


.textAlign{
    text-align: justify;
}


/* Contact Part Start */
.contact_part {
    padding: 40px 0;
    background: #353535;
}
.contact_con {
    color: #fff;
}
.contact_icon {
    height: 35px;
    width: 35px;
    background: #5bc5f3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_con_inner ul li a {
    text-decoration: none;
    display: block;
    padding: 10px 0;
    color: #fff;
    transition: 0.3s;
}
.contact_con_inner ul li a:hover {
    color: #5bc5f3;
}
.contact_con_inner ul:nth-child(2){
    margin-left: 25px;
}
/* Contact Part End */

/* Footer Part Start */
.footer_part {
    padding: 15px 0;
    background: #FE0000;
    border-top: 1px solid #fff;
}
p {
    margin: 0;
}
.footer_con p {
    color: #fff;
}
.footer_con p a {
    text-decoration: none;
    color: #1404fc;
    font-weight: bold;
}
/* Footer Part ENd */