*{
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header_part {
    background: #28A8EA;
    padding: 10px 0;
    
}

.social_icon {
    display: flex;
    justify-content: end;
}
.social_icon img {
    margin-left: 20px;
}
/* Header Part css End */

/* Navbar Part css Start */
.navbar-nav > .active a{
    color: #28A8EA ;
}
.nav_hover ul li a {
    color: #000;
}
.nav_hover ul li:hover a {    
    color: #28A8EA;    
}

.slider_part {
    background-image: url(../image/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;    
}
.slider_overlay {
    background-color: rgb(0, 0, 0, 0.6);
    padding: 100px;
}
.slider_con {
   text-align: right;
    color: #fff;
}

.button {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.hire_btn {
    text-align: center;
    height: 30px;
    width: 100px;
    background-color: #28A8EA;
    cursor: pointer;
    margin: 0 15px;
}
.hire_btn a {
    color: #fff;
    text-decoration: none;    
}
.hire_btn:hover {
    border: 1px solid #fff;
    background-color:transparent;   
}
.hire_btn:hover a {
    color: #fff;
}

.contact_btn {
    text-align: center;
    height: 30px;
    width: 100px;
    background-color: #28A8EA;
    cursor: pointer;    
}
.contact_btn a {
    color: #fff;
    text-decoration: none;    
}
.contact_btn:hover {
    border: 1px solid #fff;
    background-color:transparent;   
}
.contact_btn:hover a {
    color: #fff;
}
/* slider part css end */

/* about css part start */
.about_part {
    padding-top: 60px;
}
.about_head {
    padding-bottom: 50px;
    font-size: 32px;
    font-weight: bold;
    color: #010101;
}
.about_con p {
    text-align: justify;
    margin-left: 20px;
    margin-top: 20px;
}
/* about css part end */

/* service css part start */
.service_head {
    padding: 50px 0;
    font-size: 32px;
    font-weight: bold;
    color: #010101;
}
.service_con {
    background: #f1f1f1;
    padding: 15px; 
    position: relative;   
}
.service_con h3 {
    padding-top: 30px;
}
.service_icon_circle_1 {
    background: #fff;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -25%;
    left: 50%;
   transform: translateX(-50%);

}
.service_icon_circle_2 {
    background: #fff;
    width: 73px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
}
.service_icon_circle_3 {
    background: #f1f1f1;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;    
}
.service_con:hover .service_icon_circle_2 {
    background: #28A8EA;
}
.service_con:hover .service_icon_circle_3 {
    background:#28A8EA;
    border: 2px solid #fff;
}
.service_con:hover {
    box-shadow: -1px 1px 10px 4px rgba(0,0,0,0.57);
    -webkit-box-shadow: -1px 1px 10px 4px rgba(0,0,0,0.57);
    -moz-box-shadow: -1px 1px 10px 4px rgba(0,0,0,0.57);
}
/* service css part end */

/* foote part */
.footer_part {
    padding-top: 10px;
}
.footer_contain{   
    background: #000;
    color: #fff;
    padding: 30px;
    text-align: center;
}